<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>
<link rel="stylesheet" href="/css/miPerfil.css">

<body>

    <% if (user != undefined ) { %>
    <%- include("./partials/headerLogueado") %>
    <% } else { %>
    <%- include("./partials/headerDeslogueado") %>
    <% } %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">

                    <h2 class="editarperfil">Editar Perfil</h2>

                    <div class="divgrande">

                        <!-- <div class="fotodeperfil"> -->
                            <!-- <img class="fotodeperfil" src="/images/avatars/<%= user.fotoPerfil %> " alt="<%= user.fotoPerfil %> "> -->
                            <!-- <form class="formderecho" action="/user/editarPerfil" method="POST" enctype="multipart/form-data">
                                <label class="descri">Cambiar foto de Perfil:</label><br>
                                <input class="descri" type="file" id="img" name="avatar" accept="image/*" value="<%= user.fotoPerfil %> ">
                                <button>ACTUALIZAR</button>
                            </form> -->
                        <!-- </div> -->

                        <div class="cambiardatos">

                            <form class="form" action="/user/editarPerfil" method="POST" enctype="multipart/form-data">
                                <label class="descri">Nombre de Usuario:</label><br>
                                <input class="campo" type="text" id="fname" name="username" value= <%= user.nombreDeUsuario %>><br>
                                <!-- <label class="descri">Descripción:</label><br>
                                <input class="campo" type="text" id="lname" name="lname"><br>
                                <label class="descri">Sitio web:</label><br>
                                <input class="campo" type="text" id="lname" name="lname"><br>
                                <label class="descri">Información personal:</label><br>
                                <input class="campo" type="text" id="lname" name="lname"><br> -->
                                <label class="descri">Correo electrónico:</label><br>
                                <input class="campo" type="email" id="lname" name="email" value=<%= user.email %>><br>
                                <label class="descri">Cambiar foto de Perfil:</label><br>
                                <input class="descri" type="file" id="img" name="avatar" accept="image/*" value= <%= user.fotoPerfil %>>
                                <!-- <label class="descri">Numero de teléfono:</label><br>
                                <input class="campo" type="text" id="lname" name="lname"><br>
                                <label class="descri">Género:</label><br>
                                <input class="campo" type="text" id="lname" name="lname"> -->
                                <button>ACTUALIZAR</button>
                            </form>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %>

</body>

</html>