<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>
<link rel="stylesheet" href="/css/agregarPost.css">

<body>

    <% if (user != undefined ) { %>
    <%- include("./partials/headerLogueado") %>
    <% } else { %>
    <%- include("./partials/headerDeslogueado") %>
    <% } %>
    <main class="maindiv">
        <div class="uk-section uk-section-small ">
            <div class="uk-container uk-container-large uk-flex" id="divdelpost">

                <div class="agregarpost">
                    <h2 class="titlepost">Editar Post</h2>
                    <form action="/cambiarPost/<%= postId %> " method="POST" enctype="multipart/form-data">
                        <label for="descripcion">descripción</label><input type="text" name="descripcion"><br>
                        <label for="imagen">Imagen</label><input type="file" id="img" name="imagen" accept="image/*" required><br>
                        <button>ModificarPost</button>
                    </form>
                </div>

            </div>
        </div>
    </main>

    <%- include("./partials/footer") %>

</body>

</html>
