<!DOCTYPE html>
<html lang="en">
<head>
<%- include("./partials/head") %>

<link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <%- include("./partials/headerLogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts"
                    class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <% for(let i = 0; i < posteos.length ; i++){ %>
                    <% let usuarioPost; %>
                    <% for(let j = 0; j < usuarios.length; j++){%>
                    <% if(usuarios[j].id == posteos[i].usuario_id){%>
                    <% usuarioPost = usuarios[j].nombreDeUsuario }%>
                    <% } %>
                    <article class="post uk-card-default uk-flex uk-flex-column colordelbackground">
                        <div class="info-usuario uk-flex colorback" id="infousuario">
                            <div>
                                <img src="" alt="">
                            </div>
                            <h4><a class="nombrebruno" href="/detalleUsuario/<%= posteos[i].usuario_id %> "><%=usuarioPost%> </a></h4>

                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <a href="/detallePost/<%= posteos[i].id%> ">
                                <img src=<%= posteos[i].imagen %> alt="">
                            </a>
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6 "><a class="colorh5" href="/detalleUsuario/<%=posteos[i].usuario_id%> "><%=usuarioPost%> </a></h5>
                                <p class="uk-width-5-6"><%=posteos[i].descripción%></p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <% for (let k = 0; k < 2; k++) { %>
                                    <% //if (comentario[k] = 8) { %>
                                        
                                    <%// } %>
                                    <li>
                                   <a href="/detalleUsuario/<%//=comentario[k].usuario_id%>">Usuario</a>
                                    <p>Comentario</p>
                                    </li>
                                <% } %>
                                <a href="/detallePost/<%= posteos[i].id %> ">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <% } %>
                </section>

            </div>

        </div>
    </main>

    <%- include("./partials/footer") %>

</body>

</html>