<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>

    <% if (user != undefined ) { %>
    <%- include("./partials/headerLogueado") %>
    <% } else { %>
    <%- include("./partials/headerDeslogueado") %>
    <% } %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <% if(data != "") {%>
                <h2>(Mostrando resultados de busqueda de <%= busqueda  %> )</h2>
                <section id="posts"
                    class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <%for(let i = 0; i < data.length ; i++){ %>
                    <% let element = data[i] %>
                    <article class="post uk-card-default uk-flex uk-flex-column colordelbackground">
                        <div class="info-usuario uk-flex colorback" id="infousuario">
                            <div>
                                <% if (element.usuario.fotoPerfil != "") { %> 
                                <img id="fotoPerfil" src="/images/avatars/<%= element.usuario.fotoPerfil %>"
                                    alt="<%= element.usuario.fotoPerfil %> ">
                                <% } else {%>
                                    <img id="fotoPerfil" src="/images/avatars/avatar.png"
                                    alt="avatar">
                                <% } %>
                            </div>
                            <h4> <a class="nombrebruno" href="/user/detalleUsuario/<%=element.usuario.id%>">
                                    <%=element.usuario.nombreDeUsuario%> </a></h4>
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <a href="/detallePost/<%= element.id%> ">
                                <img src="/images/posts/<%= element.imagen %>" alt="<%= element.imagen %>">
                            </a>
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6 ">
                                    <a class="colorh5"
                                        href="/user/detalleUsuario/<%=element.usuario.id%> "><%=element.usuario.nombreDeUsuario%>
                                    </a></h5>
                                <p class="uk-width-5-6"><%=element.descripcion%></p>
                            </div>
                        </div>
                       
                    </article>
                    <% } %>
                </section>


                <% } else {%>
                <h2>(No se encontraron resultados)</h2>
                <% } %>
         
                

            </div>

        </div>
    </main>

    <%- include("./partials/footer") %>

</body>

</html>